# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
*.log
*.log.[1-9]*
*.log.fault
.env

# Ignore folders.
.storage
.cloud
.google.token
custom_components
www

# ignore MQTT files
config/mqtt/passwd

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# ignore DB files
*.db
*.db-wal
*.db-shm

# ignore docker-swag files
swag/

# ignore python cache folder
__pycache__/
